<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>로그인</h2>
            <form id="loginForm" action="/login" method="POST">
                <label for="username">ID</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">로그인</button>
            </form>
            <p>계정이 없으신가요? <a href="signup.html">회원가입하기</a></p>
        </div>
    </div>
</body>
</html>



